<div class="chat-main">
    <aside class="chat-side">
        <div class="chat-groups"></div>

        <a class="chat-add-new chat-box" id="chat-add-new-btn">
            <img src="../media/plus-lg.svg" alt="plus">
            <span class="chatName">Create or Join new chat</span>
        </a>
    </aside>

    <main class="chat-text">
        <div class="chat-header header-box" id="chatHeader">
            <img src="../media/plus-lg.svg" alt="plus" id="chat-header-img">
            <span id="chat-header-title">Title</span>
            <span id="chat-header-members"></span>
            <span id="chat-header-groupId"></span>
        </div>

        <div class="chat-funds">
            <dropdown-menu id="fund-otherFunds">
                <span slot="dropdown-label">▼</span>
            </dropdown-menu>
            <span>🎉</span>
            <span id="fund-message">Message</span>
            <span>By: <span id="fund-owner">Owner</span></span>
            <span>Funded: <span id="fund-status">Collected so far</span>%</span>
            <dropdown-menu id="fund-contribute" orientation="left">
                <div slot="dropdown-label" class="transparent-box" id="ContributeBtn">
                    <div class="center">
                        <span>Contribute</span> 
                    </div>
                </div>
                <div slot="items">
                    Funded <span id="fund-treasury"></span> out of <span id="fund-goalAmount"></span> Eth
                </div>
                <div slot="items">
                    Contributors:
                    <ul id="fund-contributors"></ul>
                </div>
                <div slot="items">
                    Input amount to contribute (Eth)
                    <input type="number" id="fund-contr-input">
                </div>
                <div slot="items">
                    <div slot="dropdown-label" class="transparent-box" id="fund-contributeBtn">
                        <div class="center">
                            <span>Contribute</span> 
                        </div>
                    </div>
                </div>
                <div slot="items">
                    <div slot="dropdown-label" class="transparent-box" id="fund-withdrawBtn">
                        <div class="center">
                            <span>Withdraw</span> 
                        </div>
                    </div>
                </div>
            </dropdown-menu>
        </div>

        <div class="chat">
            <!-- HERE IS LOADED THE CHAT HISTORY OF ALL CHATS -->
            <main id="chat-rooms">
                <div class="alert">
                    <img src="../media/exclamation-diamond.svg" alt="">
                    <span class="alert-message">Alert!</span>
                </div>
                
                <!-- JOIN/CREATE CHAT PROMPT -->
                <div class="join-create-chat-promt-container" id="join-create-menu">
                    <input type="checkbox" class="toggle-switch clickable" id="toggle-switch">
                    <div id="create-join-menus">
                        <div class="transparent-box create-group" id="create-join-group">
                            <div class="create-cont">
                                <form class="login-form" id="create-form">
                                    <input type="text" placeholder="Your chat`s name" id="chat-name">
                                    <input type="password" placeholder="Password (optional)" id="chat-password">
                                    <input type="submit" value="Create">
                                </form>
                            </div>
                        </div>
                        <div class="transparent-box join-group" id="create-join-group">
                            <div class="create-cont">
                                <form class="login-form" id="join-form">
                                    <input type="text" placeholder="Enter the chat`s unique key" id="chat-key">
                                    <input type="submit" value="Join">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CREATE FUND FORM  -->
                <div class="join-create-chat-promt-container" id="fund-input">
                    <div class="transparent-box create-group" id="create-join-group">
                        <div class="create-cont">
                            <form class="login-form" id="fund-form">
                                <input type="text" placeholder="Enter fund`s title" id="fund-title">
                                <input type="number" placeholder="Enter your goal amount" id="fund-goal">
                                <input type="number" placeholder="Enter starting amount (optional)" id="fund-str-amount">
                                <input type="submit" value="Create fund">
                            </form>
                        </div>
                    </div>
                </div>
            
                <img src="../media/cats.png" class="center" id="cats-img">
            </main>
            <br>
        </div>

        <div class="chat-input">
            <form id="chat-input-form">
                <input type="text" placeholder="Type your message here" id="chat-input-text">
            </form>
            <div class="transparent-box" id="chat-send-btn">
                <div class="center">
                    <img src="../media/send-fill.svg" alt="send" id="send-icon">
                </div>
            </div>
            <div class="transparent-box" id="chat-create-fund-btn">
                <div class="center">
                    <span>Start fund</span> 
                </div>
            </div>
        </div>
    </main>
</div>
