
<main id="introduction-sec">
    <div class="centered">
        <div class="introduction-text">
            <h1>Send Messages & Crypto Across the World</h1>
            <p>Experience the blockchain in a safe, decentrialised way</p>
            <table class="introduction-table">
                <tr>
                    <td><strong>Reliability</strong></td>
                    <td><strong></strong>Security</td>
                    <td><strong>Web 3.0</strong></td>
                </tr>
                <tr>
                    <td><strong>Blockchain</strong></td>
                    <td><strong>Decentralisation</strong></td>
                    <td><strong>Fast</strong></td>
                </tr>
            </table>
        </div>
        <div id="introduction-right">
            <div class="card">
                <div class="card-content">
                    <img src="../media/ethereum.png" alt="ethereum logo">
                    <section>
                        <h1 id="card-address">Address</h1>
                        <su>ethereum</su>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<article class="info-section">
    <img src="../media/Global-Networking-Transparent-PNG.png" alt="" id="info-planet-img">
    <div class="cards">
        <div class="info-card">
            <div class="center info-container">
                <img src="../media/ethereum.png">
                <h3>Price</h3>
                <h3 id="info-price">Loading...</h3>
            </div>
        </div>
        <div class="info-card">
            <div class="center info-container">
                <img src="../media/graph-up-arrow.svg">
                <h3>Mkt Cap</h3>
                <h3 id="info-mktCap">Loading...</h3>
            </div>
        </div>
        <div class="info-card">
            <div class="center info-container">
                <img src="../media/../media/gem.svg">
                <h3>Gas Price</h3>
                <h3 id="info-gasPrice">Loading...</h3>
            </div>
        </div>
    </div>
</article>

<footer id="home-footer">
    <span>DecentraChat inc.</span>
</footer>