<div class="alert">
    <img src="../media/exclamation-diamond.svg" alt="">
    <span class="alert-message">Alert!</span>
</div>

<div class="login-container">
    <div class="center">
        <div class="transparent-box login-box">
            <h1 class="login-message">Log in</h1>
            <div class="login-cont center">
                <form class="login-form">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <input type="submit">
                </form>
            </div>
            <div id="login-footer">
                <h4>Or <a id="signIn">Sign in</a></h4>
            </div>
        </div>
    </div>
</div>

