<div class="alert">
    <img src="../media/exclamation-diamond.svg" alt="">
    <span class="alert-message">Alert!</span>
</div>

<div class="login-container">
    <div class="center">
        <div class="transparent-box login-box">
            <h1 class="login-message">Sign in</h1>
            <div class="login-cont center">
                <form class="login-form" id="signin-form">
                    <input type="email" placeholder="Email" id="form-signin-email">
                    <input type="password" placeholder="Password" id="form-signin-password">
                    <input type="password" placeholder="Retype password" id="form-signin-retypepass">
                    <input type="submit" id="form-submit">
                </form>
            </div>
            <div id="login-footer">
                <h4>Or <a id="logIn">Log in</a></h4>
            </div>
        </div>
    </div>
</div>
