/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --main-purple: #3E065F;
    --main-purple-trans: #3e065f96;
    --sec-purple: #700B97;
    --main-black: #4d2b5a;
    --third-purple: #582372;
    --sec-purple-trans: #6f0b97f5;
    --sec-purple-light: #961fc5;
    --sec-purple-dark: #7059f1;
    --third-purple: #b701ff;
    --light-green: #4d9f0c;
    font-size: 17px;
    color: white;
    --grad-bg: radial-gradient(ellipse at top, #7059f1, transparent),
    radial-gradient(ellipse at bottom left, #4d9f0c, transparent),
    radial-gradient(ellipse at right, var(--main-purple), transparent),
    radial-gradient(ellipse at bottom, white, transparent);
}

body{
    margin: 0;
}

html{
    background-color: white;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 3px #fff;
    }
    to {
      text-shadow: 0 0 8px #fff, 0 0 9px rgb(228, 228, 228);
    }
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 3px #fff;
    }
    to {
      text-shadow: 0 0 8px #fff, 0 0 9px rgb(228, 228, 228);
    }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* NAVBAR-------------------------------------------- */
nav-bar.styled::part(nav-main){
    background: var(--main-purple);
    color:white;
    width: 100%;
}

nav-bar.styled{
    font-weight: bold;
}

nav-bar.styled h5{
    font-size: 20.4px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

nav-bar.styled h5:hover{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
            animation: glow 2s ease-in-out infinite alternate;
}

nav-bar.styled a{
    font-size: 17px;
    color: white;
    cursor: pointer;
}

nav-bar.styled a:hover{
    color: white;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
            animation: glow 2s ease-in-out infinite alternate;
}

.connect-btn{
    background: -o-linear-gradient(135deg, #110018, var(--third-purple));
    background: linear-gradient(-45deg, #110018, var(--third-purple));
    background-size: 150%;
    background-position: 0% 50%;
    padding: 0.3rem;
    border-radius: 1rem;
    -webkit-transition: background-position 2s ease;
    -o-transition: background-position 2s ease;
    transition: background-position 2s ease;
}

.connect-btn a 
{
    text-decoration: none;
}

.connect-btn:hover{
    background-position: -250% 50%;
    -webkit-transition: background-position 1s ease;
    -o-transition: background-position 1s ease;
    transition: background-position 1s ease;
}

.login-btn
{
    background: -o-linear-gradient(135deg, #110018, var(--sec-purple-dark));
    background: linear-gradient(-45deg, #110018, var(--sec-purple-dark));
    background-size: 150%;
    background-position: 0% 50%;
    padding: 0.3rem;
    border-radius: 1rem;
    -webkit-transition: background-position 2s ease;
    -o-transition: background-position 2s ease;
    transition: background-position 2s ease;
}

.login-btn:hover{
    background-position: -250% 50%;
    -webkit-transition: background-position 1s ease;
    -o-transition: background-position 1s ease;
    transition: background-position 1s ease;
}

/* MAINSECTION-------------------------------------------- */
.alert
{
    background: red;
    font-size: 1.5rem;
    grid-auto-flow: column;
    -ms-grid-columns: 5% auto 5%;
    grid-template-columns: 5% auto 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    display: none;
}

.alert img
{
    height: 1.3rem;
}

.black
{
    color: black;
    text-align: center;
}

#logged-status{
    position: absolute;
    right: 0;
    top: -0.5%;
    z-index: 100;
}

main#introduction-sec{
    margin: 0;
    background: -o-linear-gradient(135deg, #110018, #6c0396, black, #f806bc);
    background: linear-gradient(-45deg, #110018, #6c0396, black, #f806bc);
	background-size: 300% 300%;
	-webkit-animation: gradient 25s ease infinite;
	        animation: gradient 25s ease infinite;
    padding: 4rem 2rem 4rem 2rem;
    position: relative;
}

.introduction-table{
    margin-top: 2.4rem;
    border-radius: 1rem;
    border-style: solid;
    width: 100%;
    text-align: center;
}

div.centered{
    width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 1rem;
    justify-items: center;
    -ms-grid-columns: 50% 3rem auto;
    grid-template-columns: 50% auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

div.introduction-text > h1{
    margin-top: 0;
}

.card{
    padding: 1rem;
    width: 21rem;
    height: 11rem;
    border-radius: 1rem;
    background: -o-radial-gradient(top, ellipse, #7864e6, transparent),
    -o-radial-gradient(bottom left, ellipse, #4d9f0c, transparent),
    -o-radial-gradient(right, ellipse, white, transparent),
    -o-radial-gradient(bottom, ellipse, rgb(4, 19, 231), transparent);
    background: radial-gradient(ellipse at top, #7864e6, transparent),
    radial-gradient(ellipse at bottom left, #4d9f0c, transparent),
    radial-gradient(ellipse at right, white, transparent),
    radial-gradient(ellipse at bottom, rgb(4, 19, 231), transparent);
}

.card-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.card img{
    width: 7%;
}

.card section{
    line-height: 1rem;
    position: absolute;
    bottom: 0;
}

.card section h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

/* INFO SECTION------------------------- */
.info-section{
    background: -o-radial-gradient(bottom left, ellipse, var(--main-purple),transparent), black;
    background: radial-gradient(ellipse at bottom left, var(--main-purple),transparent), black;
    padding: 3rem;
    position: relative;
    overflow: hidden;
}

img#info-planet-img{
    position: absolute;
    width: 50%;
    left: -10%;
}

@-webkit-keyframes slideup {
    0% {opacity: 0; -webkit-transform: translateY(5%); transform: translateY(5%);}
    100% {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

@keyframes slideup {
    0% {opacity: 0; -webkit-transform: translateY(5%); transform: translateY(5%);}
    100% {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

@-webkit-keyframes slidedown {
    0% {opacity: 0; -webkit-transform: translateY(-5%); transform: translateY(-5%);}
    100% {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

@keyframes slidedown {
    0% {opacity: 0; -webkit-transform: translateY(-5%); transform: translateY(-5%);}
    100% {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

.cards{
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-auto-flow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 3rem;
    -webkit-animation: slideup 1s ease-in-out;
            animation: slideup 1s ease-in-out;
}

.info-card{
    position: relative;
    width: 13rem;
    height: 20rem;
    background: var(--main-purple-trans);
    /* background: radial-gradient(ellipse at top right, var(--sec-purple), transparent),
    radial-gradient(ellipse at right, rgb(150, 150, 150), transparent); */
    border-radius: 1rem;
    -webkit-box-shadow: 1px 1px 10px 0 white;
            box-shadow: 1px 1px 10px 0 white;
    text-align: center;
}

.info-card img{
    height: 3.5rem;
}



/* CHAT TAB ------------------------------------------- */
.chat-main
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-columns: auto 75%;
    grid-template-columns: auto 75%;
}

.chat-side
{
    /* width: 25%; */
    background: var(--main-black);
    height: 94.9vh;
    /* float: left; */
    overflow-y: auto;
}

#chat-rooms{
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-text
{
    height: 94.9vh;
    float: left;
    position: relative;
}

.chat{
    overflow-y: auto;
}

br{
    display: block;
    content: "";
    margin-top: 9rem;
}

.chat-box
{
    display: -ms-grid;
    display: grid;
    text-decoration: none;
    -ms-grid-columns: 20% auto;
    grid-template-columns: 20% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 4rem;
}

.chat-funds{
    background: var(--grad-bg);
    display: none;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-columns: 10% auto;
    grid-template-columns: 10% auto;
    justify-items: center;
    padding: 0.1rem;
}

.chat-funds .other-funds{
    white-space: nowrap;
}

.chat-funds .other-funds:hover{
    background-color: #cccccc;
}

.chat-funds #ContributeBtn{
    width: 6rem;
    height: 1.5rem;
    background: rgba(104, 245, 10, 0.623);
}

#fund-contribute{
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
}

#fund-contribute #fund-contributeBtn{
    width: inherit;
    background: rgba(131, 236, 61, 0.808);
    margin-top: 1rem;
    cursor: pointer;
}

#fund-contribute #fund-withdrawBtn{
    width: inherit;
    background: red;
    margin-top: 0.5rem;
    display: none;
    cursor: pointer;
}

.header-box
{
    display: -ms-grid;
    display: grid;
    text-decoration: none;
    -ms-grid-columns: 20% auto;
    grid-template-columns: 20% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 4rem;
}

.header-box > img
{
    border-radius: 50%;
    width: 50%;
    min-width: 30px;
    max-width: 50px;
}

.chat-box > img
{
    border-radius: 50%;
    width: 50%;
    min-width: 40px;
}

img#cats-img{
    width: 30%;
    top: 40%;
}

.chat-group
{
    width: 100%;
    position: relative;
}

.chat-group:hover{
    background-color: var(--sec-purple);
}

.chat-group::after
{
    content: "";
    background: white;
    position: absolute;
    margin-right: 0.4rem;
    right: 0;
    height: 1rem;
    border-radius: 1rem;
    width: 0.4rem
}

.chat-add-new
{
    background: var(--grad-bg);
    
    background-size: 300%;
    background-position: 0%;
    -webkit-transition: background-position 1s;
    -o-transition: background-position 1s;
    transition: background-position 1s;
}

.chat-add-new:hover
{
    background-position-x: -100%;
    -webkit-transition: background-position 0.5s;
    -o-transition: background-position 0.5s;
    transition: background-position 0.5s;
    color: var(--main-purple);
}

.chat-header
{
    background: var(--sec-purple);
    -ms-grid-columns: 10% 30% 20% 40%;
    grid-template-columns: 10% 30% 20% 40%;
    font-size: 1.3rem;
}

.chat-header span#chat-header-title
{
    -ms-grid-column-align: left;
        justify-self: left;
}

.chat-header #chat-header-members
{
    -ms-grid-column-align: right;
        justify-self: right;
}

dropdown-menu#chat-members{
    height: 100%;
}

.chat-header-items{
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
}

/* CHAT MAIN SECTION  */
.chat
{
    position: relative;
    width: 100%;
    height: 100%;
}

.join-create-chat-promt-container
{
    width: 80%;
    height: 100%;
    max-width: 70%;
    margin: auto;
    padding-top: 4rem;
    display: none;
}

#create-join-group
{
    width: 90%;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: var(--grad-bg);
    padding: 1rem;
    margin-top: 1rem;
}

.join-group{
    display: none;
}

.chat-input
{
    background: var(--grad-bg);
    background-size: 300%;
    background-position-x: -150%;
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    display: none;
    -ms-grid-columns: 50% 0.3rem -webkit-max-content 0.3rem auto;
    -ms-grid-columns: 50% 0.3rem max-content 0.3rem auto;
    grid-template-columns: 50% -webkit-max-content auto;
    grid-template-columns: 50% max-content auto;
    grid-auto-flow: column;
    -webkit-column-gap: 0.3rem;
       -moz-column-gap: 0.3rem;
            column-gap: 0.3rem;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 0.3rem 0 0.3rem;
}

.chat-input form
{
    padding: 0;
    margin: 0;
    height: 100%;
}

.chat-input input
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    border-style: hidden;
}

.transparent-box{
    position: relative;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.247);
    width: 2rem;
    height: 2rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* filter: blur(1px); */
}

.transparent-box #send-icon
{
    margin-top: 20%;
    margin-left: -40%;
    width: 150%;
    height: 150%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer;
}

#chat-send-btn{
    cursor: pointer;
}

#chat-create-fund-btn{
    width: 6rem;
    cursor: pointer;
}

#chat-create-fund-btn span{
    white-space: nowrap;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.center-vertical
{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.center-horizontal
{
    width: 100%;
    margin: 0;
}



/* CREATE OR JOIN NEW CHAT PART  */
input[type=checkbox].toggle-switch
{
    display: -ms-grid;
    display: grid;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 85%;
    margin: auto;
    height: 2rem;
    border-radius: 0.3rem;
    background: var(--sec-purple-light);
    outline: 0;
    position: relative;
    font-size: 0.7rem;
    color: white;
}

input[type=checkbox].toggle-switch::before
{
    color:var(--maingrey);
    content: 'Join existing';
    width: 50%;
    position: absolute;
    text-align: center;
    right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: content 0.04s;
    -o-transition: content 0.04s;
    transition: content 0.04s;
    will-change: right;
    -webkit-transition-delay: 0.09s;
         -o-transition-delay: 0.09s;
            transition-delay: 0.09s;
}

input[type=checkbox].toggle-switch::after
{
    display: -ms-grid;
    display: grid;
    content: 'Create new';
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 2rem;
    background: var(--sec-purple);
    border-radius: 0.3rem;
    position: absolute;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    left: 0;
    will-change: left;
    -webkit-transition: left 0.09s ease-in-out;
    -o-transition: left 0.09s ease-in-out;
    transition: left 0.09s ease-in-out;
    -webkit-box-shadow: 0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
            box-shadow: 0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle-switch:checked::before{
    content: 'Create new';
    right: 50%;
}

input[type=checkbox].toggle-switch:checked::after
{
    content: 'Join existing';
    left: 50%;
    -webkit-box-shadow: -0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
            box-shadow: -0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
}





/* LOGIN SECTION */

.login-container
{
    width: 100%;
    height: 100vh;
    background: var(--grad-bg);
}

.login-box
{
    width: 30rem;
    height: 30rem;
    position: relative;
}

.login-message
{
    font-weight: lighter;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.login-cont
{
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
}

form.login-form
{
    display: -ms-grid;
    display: grid;
    width: 100%;
    row-gap: 3rem;
}

#signin-form
{
    row-gap: 2rem;
}

.login-form input
{
    border: none;
    border-bottom: 0.2rem solid white;
    background: transparent;
    height: 2rem;
    font-size: 1rem;
    outline: none;
    -webkit-box-shadow: 0px 4px 8px -4px white;
            box-shadow: 0px 4px 8px -4px white;

    -webkit-transition: -webkit-box-shadow 0.3s;

    transition: -webkit-box-shadow 0.3s;

    -o-transition: box-shadow 0.3s;

    transition: box-shadow 0.3s;

    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.login-form input:focus
{
    border-color: var(--sec-purple-light);
    -webkit-box-shadow: 0px 8px 16px -7px var(--sec-purple-light);
            box-shadow: 0px 8px 16px -7px var(--sec-purple-light);
}


.login-form input::-webkit-input-placeholder
{
    color: white;
}


.login-form input::-moz-placeholder
{
    color: white;
}


.login-form input:-ms-input-placeholder
{
    color: white;
}


.login-form input::-ms-input-placeholder
{
    color: white;
}


.login-form input::placeholder
{
    color: white;
}

.login-form input::-ms-input-placeholder
{
    color: white;
}


.login-form input[type=email]
{
    background-image: url('../static/media/envelope.svg');
    background-position: 0.5rem 0.1rem;
    background-size: 6%;
    background-repeat: no-repeat;
    padding-left: 3rem;
    color: white;
}

.login-form input[type=password]
{
    background-image: url('../static/media/key.svg');
    background-position: 0.5rem 0.1rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    padding-left: 3rem;
    color: white;
}

.login-form input[type=text]
{
    background-image: url('../static/media/card-text.svg');
    background-position: 0.5rem 0.1rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    padding-left: 3rem;
    color: white;
}

.login-form input[type=number]
{
    background-image: url('../static/media/ethereum.png');
    background-position: 1rem 0.1rem;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding-left: 3rem;
    color: white;
}

.login-form input[type=submit]
{
    background-color: rgba(255, 255, 255, 0.377);
    background-image: url('../static/media/box-arrow-in-right.svg');
    background-position: 0.5rem 0.2rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0.4rem;
    color: white;
}

.login-form input[type=submit]:active
{
    background-color: rgba(255, 255, 255, 0.589);
}

#login-footer
{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#login-footer a
{
    text-decoration: none;
    color: var(--sec-purple-light);
}

#login-footer a:active
{
    color: var(--main-purple);
}




/* MESSAGE BUBBLE -------------------------- */

.messages-grid
{
    padding: 1rem;
    display: none;
    grid-gap: 1rem;
}

.message-reactions{
    border-style: solid;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    -webkit-animation: slidedown 0.5s ease-in-out;
            animation: slidedown 0.5s ease-in-out;
}

.message-reactions img{
    height: 60%;
}

.reaction-box{
    background: var(--sec-purple-dark);
    border-radius: 1rem;
    height: 1.5rem;
    padding: 0rem 0.5rem 0 0.5rem;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    cursor: pointer;
}

.reaction-box-other{
    background: var(--third-purple);
    border-radius: 1rem;
    height: 1.5rem;
    padding: 0rem 0.5rem 0 0.5rem;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    cursor: pointer;
}

.message-delete-btn{
    border-radius: 50%;
    background: red;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    text-align: center;
    -webkit-animation: slidedown 0.5s ease-in-out;
            animation: slidedown 0.5s ease-in-out;
}

.message-delete-btn img{
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
}


#message-bubble
{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6% 1rem auto 1rem 6%;
    grid-template-columns: 6% auto 6%;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-animation: slidedown 0.5s ease-in-out;
            animation: slidedown 0.5s ease-in-out;
}

#message-profile
{
    float: left;
    height: 3.2rem;
    width: 3.2rem;
    text-align: center;
    background: var(--grad-bg);
    border-radius: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
}

#message-profile > h5
{
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%);
    text-align: center;
}

#message-profile img
{
    height: 100%;
    width: 100%;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    margin: auto;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

#message-profile-other
{
    float: left;
    height: 3.2rem;
    width: 3.2rem;
    text-align: center;
    background: var(--sec-purple-light);
    border-radius: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
}

#message-profile-other > h5
{
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%);
    text-align: center;
}

#message-profile-other img
{
    height: 100%;
    width: 100%;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    margin: auto;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.gradient-card-var2
{
    background: -o-linear-gradient(135deg, var(--third-purple), var(--sec-purple-light));
    background: linear-gradient(-45deg, var(--third-purple), var(--sec-purple-light));
    background-size: 200% 200%;
    /* animation: Gradient 3s ease forwards; */
    /* animation-delay: 1s; */
    border-radius: 0.5rem;
}

.gradient-card-var3
{
    background: var(--grad-bg);
    background-size: 200% 300%;
    /* animation: Gradient 3s ease forwards; */
    /* animation-delay: 1s; */
    border-radius: 0.5rem;
}

#message-info
{
    float: left;
    padding: 0.3rem;
    max-width: 52%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    word-break: break-all;
}

#message-info > h3
{
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

#message-info > h6
{
    display: inline;
}


/* FOOTER  */

#home-footer{
    background: var(--grad-bg);
    width: 100%;
}

@media screen and (max-width: 750px){ 
    nav-bar.styled::part(nav-sidebar){
        background: var(--sec-purple-trans);
        color:white;
    }

    div.centered{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    :root{
        font-size: 12px;
    }

    .chatName{
        display: none;
    }

    .chat-box{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .chat-side{
        width: 6rem;
    }

    .chat-main{
        -ms-grid-columns: 6rem auto;
        grid-template-columns: 6rem auto;
    }

    #join-create-menu{
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    #chat-name{
        font-size: larger;
    }

    #chat-password{
        font-size: larger;
    }

    #create-form > input[type='submit']{
        font-size: larger;
    }

    #exer-switch{
        font-size: larger;
    }

    .cards{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #info-planet-img{
        -webkit-transform: scale(2.5);
            -ms-transform: scale(2.5);
                transform: scale(2.5);
    }

    .chat-header #chat-header-members
    {
        display: none;
    }

    .chat-header
    {
        -ms-grid-columns: 10% 30% 60%;
        grid-template-columns: 10% 30% 60%;
    }

    #message-bubble{
        -ms-grid-columns: 6% 50% auto;
        grid-template-columns: 6% 50% auto;
    }

    #message-info{
        max-width: 100%;
    }
}